[experiment]
DATASET_ROOT = ./dataset/clr_teleoperation_dataset
DATASET_REPO = gimarchetti/clr-experiment-dataset
POLICY_REPO = gimarchetti/clr-experiment-pi05
OUTPUT_DIR = ./ckpt/clr-experiment-pi05
JOB_NAME = clr-experiment-pi05
MAX_TRAIN_STEPS = 400
CHUNK_SIZE = 100
ACTION_STEPS = 50
#EVAL_STEPS = 1000
#SAVE_STEPS = 1000
BATCH_SIZE = 32
#LEARNING_RATE = 5e-5
#WEIGHT_DECAY = 0.01
#WARMUP_STEPS = 500
#LOGGING_STEPS = 100
