[experiment]
DATASET_ROOT = ./dataset/teleoperation_clr_dataset
DATASET_REPO = gimarchetti/clr-experiment-dataset
POLICY_REPO = gimarchetti/clr-experiment-wall_x
OUTPUT_DIR = ./ckpt/clr-experiment-wall_x
JOB_NAME = clr-experiment-wall_x
MAX_TRAIN_STEPS = 3000
CHUNK_SIZE = 30
ACTION_STEPS = 15
#EVAL_STEPS = 1000
#SAVE_STEPS = 1000
BATCH_SIZE = 2
#LEARNING_RATE = 5e-5
#WEIGHT_DECAY = 0.01
#WARMUP_STEPS = 500
#LOGGING_STEPS = 100
TASK= Grab the red handle on top of the bag and put the bag on the blue bench in front of the cubbies.
