[experiment]
DATASET_ROOT = ./dataset/clr_motion_planning_hw_2
DATASET_REPO = msavchen-nasa/clr_motion_planning_hw_2
POLICY_REPO = gimarchetti/clr_motion_planning_hw_2
OUTPUT_DIR = ./ckpt/clr_motion_planning_hw_2
JOB_NAME = clr-motion-planning-hw-2
MAX_TRAIN_STEPS = 300
CHUNK_SIZE = 50
ACTION_STEPS = 15
#EVAL_STEPS = 1000
#SAVE_STEPS = 1000
BATCH_SIZE = 64
#LEARNING_RATE = 5e-5
#WEIGHT_DECAY = 0.01
#WARMUP_STEPS = 500
#LOGGING_STEPS = 100
TASK= Grab the red handle on top of the bag and put the bag on the blue bench in front of the cubbies.
